html, body, #root, .appBody {
  height: 100%;
} 

.post-box, .comment-box {
  border: 0.2px solid rgb(143, 142, 142);
  border-radius: 5px;
  color: black;
  padding: 0.5em;
}

.post-box {
  margin: 1em 0;
  background: rgb(173, 173, 173);
  font-size: 16px;
}

.comment-box {
  margin: 0.5em 0;
  background: rgb(219, 219, 219);
  font-size: 14px;
  padding: 5px;
}

.post-flex-box, .comment-flex-box {
  display: flex;
  flex-flow: row-wrap;
}

/* identifier of post creator */
.user_me, .user_other {
  order: 1;
  width: 10%;
}

.user_me {
  color: blue;
}

.user_other {
  color: crimson;
}
/* ********* */


.text-content {
  order: 2;
  width: 80%;
  flex-grow: 1;
  font-family: "Ubuntu";
}

.delete-button {
  order: 3;
  width: 10%;
  padding: 0 0.5em;
  color: rgb(124, 0, 0);
  text-align: right;
}
.delete-button:hover {
  color: rgb(248, 50, 50);
  cursor: pointer;
}

.post-info-box {
  margin: 1em 25%;
}

.post-button {
  display: inline-block;
  background: green;
  width: 55px;
  color: white;
  margin-left: 3%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.post-button:hover {
  cursor: pointer;
  background: linear-gradient(rgb(1, 97, 1), rgb(1, 153, 1));
}

#post-area, #comment-area {
  width: 94%;
  display: block;
  border-radius: 5px;
  resize: none;
}

#post-area {
  height: 4em;
  margin: 1em auto;
}

#comment-area {
  height: 1.5em;
  margin: 0.5em auto;
}

.link {
  text-decoration: none;
	color: black;
	width: 100%;
}

.time_info {
  font-size: 0.75em;
  color: darkslategray;
}

.home-posts {
  margin: 0 25%;
}

/* MyWall page alignment */
  .mywall-box {
    display: flex;
    flex-flow: row-wrap;
  }

  .options-section {
    order: 0;
    width: 22%;
    margin: 0 3%;
  }
  .options-section div {
    margin: 1em 0;
    background: rgb(173, 173, 173);
    border-radius: 5px;
    padding: 0.3em;
    font-size: 0.9em;
    font-weight: 350;
  }
  .options-section div:hover {
    cursor: pointer;
    background: linear-gradient(rgb(204, 204, 204), rgb(173, 173, 173));
  }

  .posts-section {
    order: 1;
    width: 78%;
    margin: 0 5%;
  }

/* **************** */

/* empty post & comment invalidaton alert styles */
.empty-post-alert, .empty-comment-alert {
  display: inline-block;
  margin-left: 3%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background: rgb(175, 4, 4, 0);  
  color: white; 
}

.empty-area {
  animation: alert-style 3s linear 0s 1;
}

@keyframes alert-style {
  from {
    background: rgb(175, 4, 4, 1);
  }
  to {
    background: rgb(175, 4, 4, 0);
  }
}
/* ************* */

/* Responsive features */
@media screen and (max-width: 750px) {
  .post-bounds {
    margin: 1em 12%;
  }
}