.nav-container {
  margin: 0;
  display: flex;
  flex-flow: row-reverse;
  background: rgb(173, 173, 173);
}

.log-button {
  padding: 1em;
}

.log-button:hover {
  cursor: pointer;
  background-color: rgb(204, 204, 204);
}

.appEmblem {
  display: flex;
  flex-grow: 1;
}

.appEmblem-left {
  justify-content: left;
}

/* align cenrer for login & signup pages */
.appEmblem-center {
  justify-content: center;
}

.appEmblem img {
  height: 3em;
}

.appEmblem span {
  padding: 1em;
  color: rgb(2, 122, 2);
  font-weight: 500;
}