.nav-container {
  margin: 0;
  display: flex;
  flex-flow: row-reverse;
  background: rgb(173, 173, 173);
}

.log-button {
  padding: 1em;
}

.log-button:hover {
  cursor: pointer;
  background-color: rgb(204, 204, 204);
}